* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  font-family: "Potta One", cursive;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #fff !important;
}
nav ul li a {
  color: #fff !important;
  font-weight: 500;
}
nav ul li a:hover {
  text-decoration: underline;
}
nav span {
  padding: 0 15px;
}
.container {
  width: 80vw !important;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100% !important;
    margin: auto !important;
    /* padding: 0; */
  }
}
.container ol li {
  /* font-size: 1.3rem; */
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
}
.container ol p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.toolbar-item button {
  cursor: pointer !important;
  border: 2px solid #fff !important;
  padding: 5px 15px !important;
  color: #fff !important;
  margin: 10px 20px;
}
